---
import { getImage } from 'astro:assets'

import heroDesktop from '../../assets/subscribe/desktop/image-hero-blackcup.jpg'
import heroMobile from '../../assets/subscribe/mobile/image-hero-blackcup.jpg'
import heroTablet from '../../assets/subscribe/tablet/image-hero-blackcup.jpg'

const heroMobileOpt = await getImage({ src: heroMobile, format: 'avif', quality: 'low' })
const heroTabletOpt = await getImage({ src: heroTablet, format: 'avif', quality: 'low' })
const heroDesktopOpt = await getImage({ src: heroDesktop, format: 'avif' })
---

<main class="overflow-hidden rounded-[10px] grid-stack">
  <picture class="w-full">
    <source
      media="(max-width: 767px)"
      srcset={heroMobileOpt.src}
      width={heroMobileOpt.attributes.width}
      height={heroMobileOpt.attributes.height}
    />
    <source
      media="(min-width: 1100px)"
      srcset={heroDesktopOpt.src}
      width={heroDesktopOpt.attributes.width}
      height={heroDesktopOpt.attributes.height}
    />
    <source
      media="(min-width: 768px)"
      srcset={heroTabletOpt.src}
      width={heroTabletOpt.attributes.width}
      height={heroTabletOpt.attributes.height}
    />
    <img
      src={heroDesktopOpt.src}
      alt=""
      width={heroDesktopOpt.attributes.width}
      height={heroDesktopOpt.attributes.height}
      loading="eager"
      fetchpriority="high"
      class="w-full"
    />
  </picture>
  <div
    class="flex flex-col items-center justify-center text-center md:items-start md:pl-[58px] md:text-left"
  >
    <h1 class="max-w-[12ch] text-light-cream heading-2 lg:heading-1">Great coffee made simple.</h1>
    <p class="mb-10 mt-6 max-w-[49ch] text-light-cream opacity-80 lg:mb-14">
      Start your mornings with the world’s best coffees. Try our expertly curated artisan coffees
      from our best roasters delivered directly to your door, at your schedule.
    </p>
  </div>
</main>
